@import '~assets/styles/utils/mixin';

.app {
  text-align: center;
}

.app-logo {
  pointer-events: none;
  svg {
    height: 40vmin;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.app-link {
  color: #61dafb;
}

.fetch-btn {
  &__wrapper {
    display: flex;
    align-items: center;
    
    & > *:nth-child(n):not(:only-child):not(:last-child) {
      margin-right: $indent-md;
    }
  }  
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
